body {
  font-size: 16px;
  color: black;
  background-color: none;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #d4dadb;
  border-radius: 0;
  border: 0;
  padding: 0px 0px 30px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Company name */
  font-family: 'Lora', serif;
  color: #450d5b;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #baafbf;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h2 {
	font-family: sans-serif;
	padding: 20px;
}

h3 {
	font-family: courier;
  	font-weight: bold;
  	font-style: italic;
}


#chicken-tile, #beef-tile, #sushi-tile {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #3F0C1F;
  background-color: #f9f8de;
  /**height: 700px;**/
}